* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    transition: 0.3s;
}
body {
    background-color: #ffb3a7;
    background-image: linear-gradient(to bottom right, #d1d9e0, #75878a);
}
@font-face {
    font-family: "Garamond";
    src: url("../resource/font/Garamond-Regular-2.ttf");
}
@font-face {
    font-family: "方正悠宋+ GBK 509R";
    src: url("../resource/font/FZYouSJK_509R.TTF");
}
@font-face {
    font-family: "方正新书宋_GBK";
    src: url("../resource/font/FZXSSK.TTF");
}

/*黑暗模式*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        background-image: linear-gradient(to bottom right, #75878a, #d1d9e0);

    }
    body .details {
        background-color: #666;
        color: #f2ecde;
    }
    body .content {
        background-color: #666;
        color: #f2ecde;
    }
}

/*开始导航栏*/
.nav {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.dropbt {
    text-align: center;
    position: relative;
    width: 100%;
    padding: 1rem 0;
    font-size: 14px;
    background-color: antiquewhite;
    border-radius: 10px 10px 0 0;
}
.dropdown {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: aquamarine;
    border-radius: 0 0 10px 10px;
}
.coloritem {
    padding: 14px;
    font-size: 15px;
}
.coloritem:hover {
    font-size: 17px;
}
.fenhong {background-color: #ffb3a7; color: #000000;}
.jianghuang {background-color: #ffc773; color: #000000;}
.chase {background-color: #b35c44; color: #000000;}
.cangbai {background-color: #d1d9e0; color: #000000;}
.shuise {background-color: #88ada6; color: #000000;}
/*结束导航栏*/

/* 开始正文 */
/*中文框*/
.details {
    line-height: 1.5em;
    margin: 1rem auto;
    padding: 1rem;
    font-family: "方正新书宋_GBK";
    font-size: 15px;
    background-color: bisque;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/*英文框*/
.content {
    margin: 1rem auto;
    padding: 1rem;
    font-family: "Garamond";
    font-size: 18px;
    background-color: bisque;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
p {
    height: 0;
    overflow: hidden;
}
/* 结束正文 */
