* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    transition: 0.3s;
}
body {
    /* background-color: #ffb3a7; */
    background-image: linear-gradient(to bottom right, #d1d9e0, #75878a);
}
@font-face {
    font-family: "Garamond";
    src: url("../../../resource/font/Garamond-Regular-2.ttf");
}
@font-face {
    font-family: "方正悠宋+ GBK 509R";
    src: url("../../../resource/font/FZYouSJK_509R.TTF");
}
@font-face {
    font-family: "方正新书宋_GBK";
    src: url("../../../resource/font/FZXSSK.TTF");
}

/*黑暗模式*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        background-image: linear-gradient(to bottom right, #75878a, #d1d9e0);

    }
    body .details {
        background-color: #666;
        color: #f2ecde;
    }
    body .contents {
        background-color: #666;
        color: #f2ecde;
    }
}

/* 开始header */
.header {
    height: 3rem;
}
.settingButton {
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: 666;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
}
.settingButton.spin {
    transform: rotate(45deg);
    color: white;
}
/* 结束header */

/* 开始菜单栏 */
.settingBox {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    color: white;
    background: linear-gradient(rgba(10,10,10,1), rgba(10,10,10,0.8));
}
.settingBox.expand {
    height: 40vh;
}
.targetOptions {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    /*border: 1px solid red;*/
}
.colorOptions {
    display: grid;
    grid-template-columns: repeat(auto-fill, 2rem);
    justify-items: center;
    grid-gap: 2rem 2rem;
    width: 80%;
    visibility: hidden;
    opacity: 0;
    /*border: 1px solid red;*/
}
.colorOptions.visible {
    visibility: visible;
    opacity: 1;
}
.targetOption {
    line-height: 2rem;
    width: 25%;
    height: 2rem;
    font-size: 1rem;
    border-radius: 8px;
}
.colorOption {
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
}
input {
    display: none;
}
input[name="targetPoint"]:checked + .targetOption {
    font-size: 1.3rem;
    border: 1px dashed white
}
input[name="colorPoint"]:checked + .colorOption {
    transform: scale(1.5);
}
/* 结束菜单栏 */

/* 开始正文 */
/*中文框*/
.details {
    line-height: 1.5rem;
    margin: 1rem auto;
    padding: 1rem;
    font-family: "方正新书宋_GBK";
    font-size: 15px;
    background-color: bisque;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/*英文框*/
.contents {
    margin: 1rem auto;
    padding: 1rem;
    font-family: "Garamond";
    font-size: 18px;
    background-color: bisque;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /*cursor: pointer;*/
}
p {
    height: 0;
    overflow: hidden;
}
/* 结束正文 */
